* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
body {
  /* display: grid; 
   grid-template-rows: 15vh auto; 
  height: 100vh;  */
  display: flex;
  /* flip this for mobile view*/
  flex-direction: column;
}
.navbar {
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(90, 89, 180, 0.904);
}
#methodBtn {
  width: 50px;
  margin: 3px;
}
.btn-display-field {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #5da9e9;
  height: 10vh;
  overflow-x: scroll;
}
.individual-method-btn {
  background-color: white;
  margin: 0px 2px;
  width: 145px;
  /*keyframe animation will go here*/
  animation-name: buttonLoad;
  animation-fill-mode: forwards;
  animation-duration: .5s;
  position: relative;
  bottom: 30px;
}
@keyframes buttonLoad{
  from {opacity: 0;}
  to {opacity: 1;
  bottom: 0px;}
}
.main {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  background-color: #5da9e9;
}
.content-display-box {
  width: 90vw;
  height: 250px;
  overflow: hidden;
  position: relative;
}
.method-description-box {
  background-color: cadetblue;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.method-description-box h2,
.method-description-box p {
  margin-bottom: 5px;
}
.method-code-editor {
  background-color: red;
  height: 100%;
  /* background:green; */
    height: 100%;
    /* width: 50%; */
    /* position: absolute; */
    /* right: 0; */
    /* top: 0; */
}
.text-area {
  width: 100%;
  padding-top: 5px;
  padding-bottom: 10px;
  height: inherit;
  background-color: rgb(226, 224, 224);
}
